<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center" color="dark">
    <ion-title>
      ReemRoogo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="img_box">
    <img src="../../assets/img/music1.jpg" alt="">
  </div>

  <div id="container">
    <h2>Chapitre 3</h2>
    <ion-range min="0" max="100" value="40" mode="md" color="warning"></ion-range>
    <p>Temps restant: 13mn 20s</p>
  </div>

  <div class="flex_box">
    <ion-button fill="clear" color="light">
      <ion-icon slot="icon-only" name="play-back"></ion-icon>
    </ion-button>

    <ion-button shape="round" (click)="onPlay()" color="light">
      <ion-icon slot="icon-only" [name]="isPayed ? 'play': 'pause'"></ion-icon>
    </ion-button>

    <ion-button fill="clear" color="light">
      <ion-icon slot="icon-only" name="play-forward"></ion-icon>
    </ion-button>
  </div>

  <!--<ion-button shape="round" color="light">
    <ion-icon slot="icon-only" name="pause"></ion-icon>
  </ion-button>-->
</ion-content>
